/* Your styles here */

@font-face {
  font-family: open-sans;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
}

@font-face {
  font-family: montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  font-weight: bold;
}
h1,
h2,
h3 {
  font-family: montserrat;
}
body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: open-sans;
  line-height: 1.65;
  text-align: center;
}
header {
  background-color: black;
  padding: 20px;
}
header img {
  align-items: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}
.feature-img {
  border-radius: 50%;
}
.btn {
  background-color: #f04c2f;
  font-family: montserrat;
  font-size: bold;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
section h1 {
  text-align: center;
  font-size: 46px;
}
.feature {
  margin-top: 2em;
  margin-inline: 1.5;
}
section p {
  margin: 20px;
}
.hero {
  text-align: center;
  background-image: url(../images/banner.jpg);
  padding: 20px;
}
.testimonial {
  margin: bottom 2em;
  background-color: #e62c0f;
  color: white;
}
.testimonial h2 {
  padding-block: 2em;
}
footer {
  text-align: center;
  color: #c8e7f0;
  background-color: #25a2c3;
  padding: 20px;
}
h1,
h2 {
  color: #25a2c3;
  text-align: center;
  font-weight: bold;
}
.detail {
  margin-block: 2em;
}
p {
  text-align: center;
}
